{{!-- Dynamic Footer using handlebars --}}
{{#if account}}
<footer class="footer footer-sticky">

    {{else}}
    <footer class="footer">

        {{/if}}
        <div class="content has-text-centered">
            <p class="footer-text">

                Copyright <i class="far fa-copyright"></i> 2021 IntelliSup - All Rights Reserved

            </p>
        </div>
    </footer>