<nav class="navbar is-spaced is-fixed-top" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img class="logo" src="./images/intellisup_logo.png" alt="IntelliSup Logo">
        </a>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary" href="/logout">
                    <strong>Logout</strong>
                </a>
            </div>
        </div>
    </div>


</nav>