{{#if home}}
<nav class="level">
    <p class="level-item has-text-centered">
        <a class="level-item" href="/">
            <img class="banner-logo" src="./images/intellisup_logo.png" alt="IntelliSup Logo" height="80px">
        </a>
    </p>
</nav>

{{else}}

<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <a class="navbar-item" href="/">
            <img class="logo" src="./images/intellisup_logo.png" alt="IntelliSup Logo">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">

            {{#if account}}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/admin">
                        <strong>Admin</strong>
                    </a>
                </div>
            </div>

            {{else if admin}}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/account">
                        <strong>Account</strong>
                    </a>
                </div>
            </div>

            {{/if}}

            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/logout">
                        <strong>Logout</strong>
                    </a>
                </div>
            </div>

        </div>
    </div>

</nav>
{{/if}}