{{> navbar }}

<main>
    <div class="container">
        {{!-- Welcome bar --}}
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <h1 class="title is-3 has-text-centered">Welcome <span class="member-name"></span>!</h1>
                </div>
            </div>
        </div>

        <section class="section">
            <p class="is-size-1 has-text-centered has-text-weight-bold">Open Purchase Orders</p>
            <div class="container has-background-primary box">
                <div class="container box">
                    <div id='po-table' class="is-striped is-bordered is-narrow is-hoverable"></div>
                </div>
            </div>
        </section>

    </div>
</main>

{{> footer}}