{{!-- Navbar --}}
{{> navbar }}

{{!-- Welcome bar --}}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column">
                <h1 class="title is-4 has-text-centered">Welcome <span class="member-name"></span>!</h1>
            </div>
        </div>
    </div>
</section>

<div class="container box">
    <div id='po-table' class="is-striped is-bordered is-narrow is-hoverable"></div>
</div>

</div>