{{!-- Navbar --}}
{{> navbar }}

<section class="hero has-background-white-ter is-fullheight">
    <div class="hero-body">
        <span class="container">
            <div class="columns is-centered">
                <div column is-5-tablet is-4desktop is-3-widescreen>
                    <form method="post" action="/api/signup" id="signup1" class="box">
                        <h3 class="title is-3">Sign Up Form</h3>
                        <div class="field">
                            <label for="" class="label">Email address</label>
                            <div class="control has-icons-left">
                                <input type="email" name="email" id="email-input" placeholder="sampleEmail@email.com"
                                    class="input" required />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input name="password" type="password" id="password-input" placeholder="**********"
                                    class="input" required />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <button type="submit" class="button is-success">
                                Sign Up
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </span>
        <span class="container">
            <div class="columns is-centered">
                <div column is-5-tablet is-4desktop is-3-widescreen>
                    <form method="post" action="/api/login" class="box">
                        <h3 class="title is-3">Login Form</h3>
                        <div class="field">
                            <label for="" class="label">Email address</label>
                            <div class="control has-icons-left">
                                <input type="email" name="email" id="email-input" placeholder="sampleEmail@email.com"
                                    class="input" required />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input type="password" name="password" id="password-input" placeholder="**********"
                                    class="input" required />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <button type="submit" class="button is-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </span>
    </div>
</section>