{{!-- Navbar --}}
{{> navbar }}

<main>

    <!-- Description & Sign Up/Login Panel -->
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">

                <div class="column is-one-third">
                    <div class="has-background-primary box">

                        <!-- Short Description -->
                        <div class="columns">
                            <div class="column is-12">
                                <div class="has-background-white has-text-centered box">
                                    <p class="title is-5">Are you tired of constantly having to track down shipping
                                        information for all of
                                        your
                                        purchase orders?</p>

                                    <p class="title is-5">So many Suppliers! So many Buyers!</p>

                                    <p class="title is-5">There has to be a better way, right?!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Supply Chain Simplified Graphic -->
                <div class="column is-one-third">
                    <div class="has-background-white">

                        <figure class="image center">
                            <img src="./images/intellisup_homepage_icon.png" alt="Intellisup: Supply Chain">
                        </figure>

                    </div>
                </div>

                <!-- Tabbed Sign Up & Login Forms -->
                <div class="column is-one-third">
                    <div class="has-background-primary box">
                        <div class="columns">
                            <div class="column is-12 tabs is-fullwidth is-boxed">
                                <div class="has-background-white box">

                                    <!-- Sign Up & Login Tabs -->
                                    <ul>
                                        <li class="is-active">
                                            <a>
                                                <strong>Sign Up</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <strong>Login</strong>
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="column is-12">

                                        <!-- Sign Up Form -->
                                        <div class="tab-content is-active">
                                            <form method="post" action="/api/signup" id="signup1">
                                                <div class="field">
                                                    <label class="label">Email</label>
                                                    <div class="control has-icons-left">
                                                        <input type="email" name="email" id="email-input"
                                                            placeholder="myname@email.com" class="input" required />
                                                        <span class="icon is-small is-left">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label class="label">Password</label>
                                                    <div class="control has-icons-left">
                                                        <input name="password" type="password" id="password-input"
                                                            placeholder="**********" class="input" required />
                                                        <span class="icon is-small is-left">
                                                            <i class="fa fa-lock"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <button type="submit" class="button is-primary">
                                                        Sign Up
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                        <!-- Login Form -->
                                        <div class="tab-content">
                                            <form method="post" action="/api/login">
                                                <div class="field">
                                                    <label class="label">Email</label>
                                                    <div class="control has-icons-left">
                                                        <input type="email" name="email" id="email-input"
                                                            placeholder="sampleEmail@email.com" class="input"
                                                            required />
                                                        <span class="icon is-small is-left">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label class="label">Password</label>
                                                    <div class="control has-icons-left">
                                                        <input type="password" name="password" id="password-input"
                                                            placeholder="**********" class="input" required />
                                                        <span class="icon is-small is-left">
                                                            <i class="fa fa-lock"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <button type="submit" class="button is-primary">Login</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Testimonials Panel -->
    <section class="hero">
        <div class="hero-body has-background-secondary">
            <div class="container">

                <div class="title is-1 has-text-centered test-text">
                    Actual Customer Testimonials*
                </div>

                <div class="columns is-vcentered">
                    <div class="column">
                        <div class="columns">

                            <!-- Testimonals -->
                            {{#each testimonials}}
                            <div class="column is-one-quarter">
                                <div class="box">
                                    <p class="quote is-size-5">
                                        "{{quote}}"
                                    </p>
                                    <br>
                                    <div class="title is-size-4 quote-name">
                                        {{name}}
                                    </div>
                                    <p class="quote is-size-6">
                                        {{title}}
                                    </p>
                                </div>
                            </div>
                            {{/each}}

                        </div>
                    </div>
                </div>

                <div class="title is-7 has-text-left test-text-2">
                    *Not actual testimonials
                </div>

            </div>
        </div>
    </section>

    <!-- Pricing Panel -->
    <section class="section">
        <div class="container">

            <div class="title is-1 has-text-centered price-text">
                Pricing Plans*
            </div>

            <div class="has-background-primary box">
                <div class="columns">

                    <div class="column is-one-quarter has-text-centered pricing">
                        <div class="box">
                            <div class="plan-header">Starter</div>
                            <div class="plan-price"><span class="plan-price-amount"><span
                                        class="plan-price-currency">$</span>20</span>/month</div>
                            <div class="plan-items">
                                <div class="plan-item">20GB Storage</div>
                                <div class="plan-item">100 Domains</div>
                                <div class="plan-item">-</div>
                                <div class="plan-item">-</div>
                            </div>
                            <div class="plan-footer">
                                <button class="button is-fullwidth" disabled="disabled">Current plan</button>
                            </div>
                        </div>
                    </div>

                    <div class="column is-one-quarter">
                        <div class="box">
                            <div class="pricing-plan is-warning">
                                <div class="plan-header">Startups</div>
                                <div class="plan-price"><span class="plan-price-amount"><span
                                            class="plan-price-currency">$</span>40</span>/month
                                </div>
                                <div class="plan-items">
                                    <div class="plan-item">20GB Storage</div>
                                    <div class="plan-item">25 Domains</div>
                                    <div class="plan-item">1TB Bandwidth</div>
                                    <div class="plan-item">-</div>
                                </div>
                                <div class="plan-footer">
                                    <button class="button is-fullwidth">Choose</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-one-quarter">
                        <div class="box">
                            <div class="pricing-plan is-active">
                                <div class="plan-header">Growing Team</div>
                                <div class="plan-price"><span class="plan-price-amount"><span
                                            class="plan-price-currency">$</span>60</span>/month
                                </div>
                                <div class="plan-items">
                                    <div class="plan-item">200GB Storage</div>
                                    <div class="plan-item">50 Domains</div>
                                    <div class="plan-item">1TB Bandwidth</div>
                                    <div class="plan-item">100 Email Boxes</div>
                                </div>
                                <div class="plan-footer">
                                    <button class="button is-fullwidth">Choose</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-one-quarter">
                        <div class="box">
                            <div class="pricing-plan is-danger">
                                <div class="plan-header">Enterprise</div>
                                <div class="plan-price"><span class="plan-price-amount"><span
                                            class="plan-price-currency">$</span>100</span>/month
                                </div>
                                <div class="plan-items">
                                    <div class="plan-item">2TB Storage</div>
                                    <div class="plan-item">100 Domains</div>
                                    <div class="plan-item">1TB Bandwidth</div>
                                    <div class="plan-item">1000 Email Boxes</div>
                                </div>
                                <div class="plan-footer">
                                    <button class="button is-fullwidth">Choose</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="title is-7 has-text-left">
                *Not actual pricing
            </div>

    </section>

</main>

{{> footer}}