<h1>Create A Purchase Order</h1>

<br>

<form class="create-form">

    <div class="form-group">
        <label for="poNum">PO #:</label>
        <input type="text" id="poNum" name="poNum">

        <label for="item">Item:</label>
        <input type="text" id="item" name="item">

        <label for="supplier">Supplier:</label>
        <input type="text" id="supplier" name="supplier">

        <label for="dueDate">Due Date:</label>
        <input type="text" id="dueDate" name="dueDate">

        <button id='orderBtn' type="submit">Submit</button>
    </div>
</form>

<br>

<div id='po-table'></div>