form.signup,
form.login {
  margin-top: 50px;
}

body.has-navbar-fixed-top, 
html.has-navbar-fixed-top {
  padding-top: 5rem;
}

.navbar-item img {
    max-height: 80px;
}

.navbar.is-spaced {
    padding: .25rem .5rem;
}

.field-label {
  margin-left: .5rem;
  margin-right: 0;
  white-space: nowrap;
}

.field-body {
  margin-bottom: .25rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.orderBtn {
  margin-left: .5rem;
  margin-right: .5rem;
}

.center {
  display: block;
  width: 65%;
}

.title{
  margin-bottom: .75rem;
}

.title:not(:last-child) {
  margin-bottom: .75rem;
}

.section {
    padding: 2rem 1.5rem;
}

.nav-right {
  float:right;
}

.navbar-menu {
  width: fit-content;
  background-color:#fff;
  float: right;
  border-radius: 6px;
  margin-top: -2.5rem;
}

.navbar {
  background-color: transparent;
}