/* Header Styles */
.navbar {
  background-color: transparent;
}

.navbar.is-spaced {
    padding: .25rem .5rem;
}

.navbar-item img {
    max-height: 80px;
}

.navbar-menu {
  width: fit-content;
  background-color:#fff;
  float: right;
  border-radius: 6px;
  margin-top: -2.5rem;
}

.navbar-start {
  margin-right: none;
}

.nav-right {
  float:right;
}

.banner-logo {
  width: 80%;
  max-width: 450px;
  height: auto;
  padding: .5rem;
}

.level-item {
  display: block;
}


/* Content Styles */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.contact-link {
  color: #56C596;
}

.contact-text {
  padding-bottom: 1rem;
}

.field-body {
  margin-bottom: .25rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.field-label {
  margin-left: .5rem;
  margin-right: 0;
  white-space: nowrap;
}

.has-background-primary,
.is-primary {
  background-color: #56C596!important;
}

.has-background-secondary,
.is-secondary {
  background-color: #205072!important;
}

.is-primary-text {
  color: #56C596!important;
}

.is-secondary-text {
  color: #205072!important;
}

.orderBtn {
  margin-left: .5rem;
  margin-right: .5rem;
}

.quote {
  font-style: italic;
}

.quote-name {
  margin-bottom: 0rem!important;
}

.tabs li.is-active a {
    border-bottom-color: #56C596;
    color: #56C596;
}

.tab-content {
  display: none;
}

.tab-content.is-active {
  display: block;
}

.test-text {
  padding-bottom: 1rem;
  color: #fff;
}

.test-text-2 {
  color: #fff;
}

.title{
  margin-bottom: .75rem;
}

.title:not(:last-child) {
  margin-bottom: .75rem;
}


/* Footer Styles */
.footer {
  background-color: #373737;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-sticky {
  bottom: 0;
  position: absolute;
}

.footer-text {
  color: #fff;
  font-weight: 700;
}

@media only screen and (max-width: 678px) {
  /* For mobile phones: */
  [class*="footer-sticky"] {
  position: relative;
  }
}

@media only screen and (max-height: 800px) {
  /* For mobile phones: */
  [class*="footer-sticky"] {
  position: relative;
  }
}